.custom-shape-divider-top-1683194762 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1683194762 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 164px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1683194762 .shape-fill {
  fill: #4765f3;
}
