.contact {
  position: relative;
  h2 {
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 6.2rem;
    margin-bottom: 4.4rem;
  }
  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    textarea {
      font-size: 1.6rem;
      color: var(--text-color);
      box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
      padding: 1.5rem;
      background: var(--bg-color);
      border-radius: 0.8rem;
      width: 100%;
      margin: 3rem 0;
    }
  }
}

.input-box {
  display: flex;
  gap: 3rem;
  width: 68rem;

  input {
    flex: 1;
    font-size: 1.6rem;
    color: var(--text-color);
    box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
    padding: 1.5rem;
    background: var(--bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0px;
  }
}
